<div class='country__info'>
  <div class='country__info-wrap'>
    <img
      class='country__info-flag'
      src='{{flags.svg}}'
      alt='{{name.official}}'
    />
    <h2 class='country__info-title'>{{name.official}}</h2>
  </div>
  <p class='country__info-meta'><span class='country__info-label'>Capital:
    </span>{{capital}}</p>
  <p class='country__info-meta'><span class='country__info-label'>Population:
    </span>{{population}}</p>
  <p class='country__info-meta'><span class='country__info-label'>Languages:
    {{!-- </span>{{#each languages}}<span>{{language}}</span>{{/each}} --}}
    </p>
</div>